.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    text-align: center;
    gap:.5rem;
    font-family: 'Libre Baskerville', serif;
    padding: .5rem;
  }
  main{
    background-color: #9695f0;
  }
  h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
  }
  main div section{
    border: 1px solid black;
  }

  main div section:nth-child(even){
    background-color:#0b89fd;
  }

  main div section:nth-child(odd){
    background-color: #ffc90e;
  }

  footer{
    text-align: center;
  }

