@media(min-width: 64rem){
    #hamburgerBtn{
        display: none;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 50px 300px 1fr 82px;
    }
    .header{
        grid-column: 3;
        grid-row:1;
    }
    #primaryNav{
        display: block;
        background-color: transparent;
        text-align: center;
    }
    #primaryNav li{
        display: inline;
        padding: 10px;
        background-color: black;
    }

    .logos{
        grid-column: 4;
    }
  
    #hero{
        border: 1px solid black;
    }
    #hero img{
       height:100%;
    }

    #join, #spot3{
        display: block;
    }
    #event{
        grid-area: 1/1/2/2;
    }
    #weather{
        grid-area: 2/1/3/2;
    }
    #join{
        grid-area: 3/1/4/2;
    }
    #hero{
        grid-area: 1/2/3/3;
    }
    #news{
        grid-area: 3/2/3/3;
    }
    .spotlight{
        grid-area: 1/3/4/4;
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    #spot1, #spot2, #spot3{
        padding: .5rem;
        height: 100%;
       
    }
    .footer2{
        display: flex;
        justify-content: center;
    }
    .footer2 p{
        padding-top: 10px;
    }
    div .spotlight{
        display: flex;
        justify-content: space-between;
    }

    div #join{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

/*  ***Discover CSS *** */
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    .discover-pictures{
        grid-column: 2;
        display: flex;
        justify-content: space-between;
    }

   .discover-stats{
       margin-top: 40px;
       grid-column: 1;
       grid-row:1;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
   }

   /* membership top alingment */
   table{
    margin-top: 8%;
}
}
