@media (min-width: 34rem){

    #join{
        display: block;
    }

    h1{
        font-size: 2.2rem;
    }
    
    .bodyPosition {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #hero{
        grid-column: span 2;
    }
    #news{
        grid-row: 2;
        grid-column: span 2;
    }
    .spotlight{
        grid-column: span 2;
        flex-direction: row;
    }
    
    #join{
        grid-row: 4;
        grid-column: span 2;
    }
    #event, #weather{
        grid-row:5;
    }
    .footer1{
       margin-top: 10px;
       display: flex;
       justify-content: space-between;
       text-align: left;
    }
    .footerRight{
        text-align: right;
        padding-right: 10px;
    }
    .footer2 section{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .footer2 div{
        padding-left: .5rem;
    }
    .footer2 section div{
    border-right: 1px solid white;
    padding: 0 5px 0 5px;
    }
/* ******Discover page code****** */

    .discover-main-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* .d{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */
    h2, h3{
        grid-column: span 2;
        text-align: center;
        font-size: 2rem;
    }

    .discover-stats{
        display: grid;
        grid-template-columns: 1fr;
    }

    .discover-stats img{
        width: 100%;
    }

    .discover-pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 10px;
    }
    #downtown{
        position: relative;
    }

    #downtown p{
        position: absolute;
        top: 15px;
        left: 35px;
        background-color: black;
    }
    #fair{
        position: relative;
    }

    #fair p{
        position: absolute;
        top: 15px;
        left: 35px;
        background: black;
    }
    #house{
        position: relative;
    }

    #house p{
        position: absolute;
        top: 15px;
        left: 35px;
        background: black;
    }
    #lake-ovid{
        position: relative;
    }

    #lake-ovid p{
        position: absolute;
        top: 15px;
        left: 35px;
        background: black;
    }#school{
        position: relative;
    }

    #school p{
        position: absolute;
        top: 15px;
        left: 35px;
        background: black;
    }
    #sport{
        position: relative;
    }
    #sport p{
        position: absolute;
        top: 15px;
        left: 35px;
        background: black;
    }
    #facts{
        grid-column: span 3;
        text-align: center;
    }
    .discover-pictures img:hover 
    {box-shadow: 0 0 25px rgb(255, 255, 0);}
}