@media (min-width: 34rem){
    #join{
        display: block;
    }

    h1{
        font-size: 2.2rem;
    }
    
    .bodyPosition {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #hero{
        grid-column: span 2;
    }
    #news{
        grid-row: 2;
        grid-column: span 2;
    }
    .spotlight{
        grid-column: span 2;
        flex-direction: row;
    }
    
    #join{
        grid-row: 4;
        grid-column: span 2;
    }
    #event, #weather{
        grid-row:5;
    }
    .footer1{
       margin-top: 10px;
       display: flex;
       justify-content: space-between;
       text-align: left;
    }
    .footerRight{
        text-align: right;
        padding-right: 10px;
    }
    .footer2 section{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .footer2 div{
        padding-left: .5rem;
    }
    .footer2 section div{
    border-right: 1px solid white;
    padding: 0 5px 0 5px;
    }}