@media (min-width: 34rem){
    #join{
        display: block;
    }
    h1{
        font-size: 2.2rem;
    }
    .bodyPosition {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #hero{
        grid-column: span 2;
    }
    #news{
        grid-row: 2;
        grid-column: span 2;
    }
    .spotlight{
        grid-column: span 2;
        flex-direction: row;
        justify-content: space-between;
    }
    #join{
        grid-row: 4;
        grid-column: span 2;
    }
    #join button{
        width: 120px;
        height: 50px;
        font-size: 1.5rem;
        border-radius: .5rem;
    }
    #join button a{
        text-decoration: none;
        color: black;
    }
    #event, #weather{
        grid-row:5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div .spotlight{
        display: flex;
        justify-content: space-around;
    }
    .footer1{
       margin-top: 10px;
       display: flex;
       justify-content: space-between;
       text-align: left;
    }
    .footerRight{
        text-align: right;
        padding-right: 10px;
    }
    .footer2 section{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .footer2 div{
        padding-left: .5rem;
    }
    .footer2 section div{
    border-right: 1px solid white;
    padding: 0 5px 0 5px;
    }
/* ******Discover page code****** */
    h2, h3{
        grid-column: span 2;
        text-align: center;
        font-size: 2rem;
    }
    .discover-stats{
        display: grid;
        grid-template-columns: 1fr;
    }
    .discover-stats img{
        width: 100%;
    }
    .discover-pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 10px;
    }
    #facts{
        grid-column: span 3;
        text-align: center;
    }
    .discover-pictures img:hover 
    {box-shadow: 0 0 25px rgb(255, 255, 0);}
/* join form two columns */
#join-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
#join-h1{
    grid-column: 1/3;
    text-align: center;
}
table{
    margin-top: 11%;
}
}
    