*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    
}
header{
    padding: .5rem;
    background-color: rgba(227, 45, 26);
    color: white;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}

.linkedLogo{
    max-width: 30px;
}
nav button{
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color:#555;
}
nav ul{
    list-style: none;
    background-color: black;
    color: white;
}
a:hover{
    color: rgba(227, 45, 26);
    text-decoration: none;}

nav ul{
    display: none;
} 
nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul.open{
    display: block;
}
.date{
    text-align: center;
    border: none;
    background-color: black;
}
main{
    padding: .5rem;
    background-color: rgba(227, 45, 26);
    color: white;
}
h1{
    font-family: 'Oleo Script', cursive;
}
h2{
    border: 1px solid black;
    padding: .5rem;
    text-align: center;
    min-height: 100px;
}

main div{
    padding: .5rem;
    text-align: center;
}
#hero{
    position: relative;
}
#hero p{
    position: absolute;
    top: 25px;
    left: 25px;
    color: black;
    font-weight: 900;
}
#hero button{
    position: absolute;
    bottom: 5.5rem;
    right: 25px;
    font-family: 2rem;
    background-color: white;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 5px;
}
#news{
    position: relative;
}
#news p:nth-child(1){
    position: absolute;
    top: 25px;
    left: 25px;
}
#news p:nth-child(2){
    position: absolute;
    top: 55px;
    left: 25px;
}
main img{
    max-width: 100%;
}
.spotlight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#join, #spot3{
    display: none;
}
footer{
    background-color: black;
    padding: .5rem;
    color: white;
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.1rem;
}

#footerLogo {
    max-width: 200px;
}
span{
    border: 1px solid black;
}
.footer1{
    border-bottom: 1px solid white ;
}

