@media (min-width: 36em) {
    .site-subgroup{
        max-width: 100%;
    }
	main {
        grid-template-rows: 1fr 1fr;
        display: flex;
        flex-direction: row;
    }

    #logo{
        grid-column:2;
        grid-row:2;
    }

    nav ul{
        list-style-type: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 1px;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        background-color: black;
      }
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    #color-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    #color-grid section{
        max-width: 200px;
        /* padding: 10px; */
    }
}