@media (min-width: 34em) {
    .site-subgroup{
        max-width: 100%;
        /* grid-column: 1/3; */
    }
	main {grid-template-rows: 1fr 1fr;
        display: flex;
    flex-direction: row;}
    #logo{
        grid-column:2;
        grid-row:2;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 1px;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        background-color: black;
      }
   