nav{
    background-color: #eee;
}

nav button{
    padding: 5px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color:#555;

}

nav ul{
list-style-type: none;
margin: 0;
padding:5px;
}

nav ul li a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, .5);
}


nav ul li.active a{
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}

nav ul {
    display: none;
}
nav ul.open{
    display: block;}

.date,aside{
    margin: .5rem;
    border: 1px solid black;
    padding: .75rem;
    background-color: pink;}

.date2,aside{
    margin: .5rem;
    border: 1px solid black;
    padding: .75rem;
    background-color: orange;}
