@media (min-width: 64rem){
    .homeDiv:nth-child(5){
        display: block;
    }
    .homeDiv:nth-child(6){
        grid-column: span 1;
    }
    .homeDiv{
        max-width: 600px;
        margin-left: 10px;
    }
    .recHide{
        display: block;
    }

    #recptionWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .recHide picture{
        display: flex;
        justify-content: center;
    }

    #recptionWrapper div{
        max-width: 395px;
    }
    #primaryNav{
        display: block;
        background-color: transparent;
        text-align: center;
    }
    #hamburgerBtn{
        display: none;
    }
    #primaryNav li{
        display: inline;
        padding: 10px;
        background-color: lightgrey;
    }

}